<h3>Let's play poker!</h3>


<img src="http://golearntocode.com/images/cards/<%=@deck[0]%>.png", height = 262.5, width = 187.5>
<img src="http://golearntocode.com/images/cards/<%=@deck[1]%>.png", height = 262.5, width = 187.5>
<img src="http://golearntocode.com/images/cards/<%=@deck[2]%>.png", height = 262.5, width = 187.5>
<img src="http://golearntocode.com/images/cards/<%=@deck[3]%>.png", height = 262.5, width = 187.5>
<img src="http://golearntocode.com/images/cards/<%=@deck[4]%>.png", height = 262.5, width = 187.5>